.container {
  min-height: 100vh;
  max-width: 992px;
  margin: auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.container section {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.container section > div:first-child {
  margin-bottom: 4rem;
}

@media (min-width: 850px) {
  .container section {
    display: grid !important;
    gap: 6.25rem;
    grid-template-columns: 1fr 1fr;
  }

  .container section > div:first-child {
    margin-bottom: 0;
  }
}